Objects and Data Structures Assessment Test
Test your knowledge.
Answer the following questions

Write (or just say out loud to yourself) a brief description of all the following Object Types and Data Structures we've learned about. You can edit the cell below by double clicking on it. Really this is just to test if you know the difference between these, so feel free to just think about it, since your answers are self-graded.

Double Click HERE to edit this markdown cell and write answers.

Numbers:

Strings:

Lists:

Tuples:

Dictionaries:

Numbers
Write an equation that uses multiplication, division, an exponent, addition, and subtraction that is equal to 100.25.

Hint: This is just to test your memory of the basic arithmetic commands, work backwards from 100.25

In [1]:
10**2*2/2+1-0.75

100.25

Answer these 3 questions without typing code. Then type code to check your answer.

What is the value of the expression 4 * (6 + 5)

What is the value of the expression 4 * 6 + 5 

What is the value of the expression 4 + 6 * 5

In [2]:
4*(6+5)

44

In [3]:
4*6+5

29

In [4]:
4+6*5

34

What is the type of the result of the expression 3 + 1.5 + 4?

In [5]:
3+1.5+4

8.5

What would you use to find a numberâ€™s square root, as well as its square?

In [7]:
pow(3,2)

9

In [11]:
import math
math.sqrt(9)

3.0

Strings

Given the string 'hello' give an index command that returns 'e'. Enter your code in the cell below:

In [13]:
s="Hello"
s[1]

'e'

Reverse the string 'hello' using slicing:

In [14]:
s[::-1]

'olleH'

Given the string hello, give two methods of producing the letter 'o' using indexing.

In [16]:
s[4]

'o'

In [17]:
s[-1]

'o'

Lists

Build this list [0,0,0] two separate ways.

In [57]:
[0]*3

[0, 0, 0]

In [19]:
mylist=[0,0,0]

In [20]:
mylist

[0, 0, 0]

Reassign 'hello' in this nested list to say 'goodbye' instead

In [21]:
list3 = [1,2,[3,4,'hello']]

In [22]:
list3[2][2]='Goodbye'

In [23]:
list3

[1, 2, [3, 4, 'Goodbye']]

Sort the list below:

In [24]:
list4 = [5,3,4,6,1]

In [25]:
list4.sort()

In [26]:
list4

[1, 3, 4, 5, 6]

Dictionaries

Using keys and indexing, grab the 'hello' from the following dictionaries:

In [27]:
d = {'simple_key':'hello'}
# Grab 'hello

In [29]:
d['simple_key']

'hello'

In [30]:
d = {'k1':{'k2':'hello'}}
# Grab 'hello

In [31]:
d['k1']['k2']

'hello'

In [32]:
# Getting a little tricker
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

#Grab hello

In [39]:
d['k1'][0]['nest_key'][1][0]

'hello'

In [40]:
# This will be hard and annoying!
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}

In [41]:
d['k1'][2]['k2'][1]['tough'][2][0]

'hello'

Tuples
What is the major difference between tuples and lists?

Ans:- Tuples are immutable whereas lists are mutable


How do you create a tuple?

In [45]:
t=(1,2,3)

In [46]:
t

(1, 2, 3)

In [47]:
type(t)

tuple


Sets
What is unique about a set?


Use a set to find the unique values of the list below:

In [55]:
list5 = [1,2,2,33,4,4,11,22,3,3,2]

In [56]:
set(list5)

{1, 2, 3, 4, 11, 22, 33}

Booleans
For the following quiz questions, we will get a preview of comparison operators. In the table below, a=3 and b=4.

What will be the resulting Boolean of the following pieces of code (answer fist then check by typing it in!)

In [49]:
# Answer before running cell
2 > 3

False

In [50]:

# Answer before running cell
3 <= 2

False

In [51]:
# Answer before running cell
3 == 2.0

False

In [52]:
# Answer before running cell
3.0 == 3

True

In [53]:
# Answer before running cell
4**0.5 != 2

False

Final Question: What is the boolean output of the cell block below?

In [54]:
# two nested lists
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

# True or False?
l_one[2][0] >= l_two[2]['k1']

False